canvas {
  background: url('/Users/wglaptop/Documents/mintbean/tagmaster/src/assets/Brick_Wall.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw; 
}
